.table__detail{
  td{
    background: rgba($green-2, 0.3);
    .label{
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}
.table__legend{
  margin-bottom: 20px;
  .label{
    margin-right: 10px;
  }
}

.cursor-pointer{
  cursor: pointer;
}